.places {
  margin: 0 auto 0;
  padding: 0;
  max-width: 984px;
}

@media screen and (max-width: 1040px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 784px) {
  .places {
    max-width: 720px;
  }
}

@media screen and (max-width: 336px) {
  .places {
    max-width: 100%;
  }
}
