.places__cell_link-cell {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFF;
}
