.places__place {
  max-width: 984px;
  margin: 0 auto 80px auto;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 460px;
  gap: 48px 40px;
}

.places__place:last-of-type {
  margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .places__place{
    max-width: 928px;
    grid-template-rows: 1fr 440px;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .places__place{
    max-width: 720px;
    grid-template-rows: 1fr minmax(min-content, min-content);
    gap: 48px 28px;
  }
}

@media screen and (max-width: 320px) {
  .places__place{
    max-width: 100%;
    grid-template-columns: minmax(min-content, min-content);
    grid-template-rows: 1fr;
    gap: 32px 32px;
  }
}
