.cover__background {
  max-width: 1184px;
  height: 740px;
  margin: 92px 0 0;
  /*padding: 0  0 calc((5 / 8) * 100%) 0;*/
  padding: 0;
  background-image: url("../../../images/cover-train.jpg");
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cover__background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #2A2C2F;
  opacity: 0.8;
}

.cover__background:hover::before {
  opacity: 0.3;
}
